.AppTop{
  margin-top: 20px;
  margin-left: 20px;
  width: 400px;
  height: 150px;
}

Button{
  background-color: rgba(80, 147, 248, 0.884);
  color: white;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  padding: 8px 16px; 
  float: right;
}

textarea{
  resize: none;
  border-radius: 3px;
  padding: 3px 0px 0px 1%;
  width: 100%;
  height:100px;
  font-size: 110%;
  border-color: rgb(168, 167, 167);
}

.AppList{
  width: 400px;
}

li{
  width: 400px;
}